*.bit
vivado*.log
vivado*.jou
xsim*.log
xsim*.jou
xelab*.log
xelab*.jou
webtalk*.log
webtalk*.jou
vivado_pid*.str
usage_statistics_webtalk.*ml
.Xil/
snapshot.sim
sim.wdb
.bitstream-filename
.constraint-files
.synthesis-source-files
.top-level-module
.debug-project/
.prj
.simulation-source-files
.top-level-testbench